<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test1.tabletapp.app" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application

        android:allowBackup="true"
        android:icon="@drawable/pic"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="company.Gui_StartActivity"
            android:label="@string/app_name"
            android:theme="@style/StartTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="company.Gui_DisplayEntryList"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="company.SmplExpandable"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="company.Gui_DisplayNewEntrySelection"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="company.Gui_DisplayEntryDetails"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="company.Gui_DisplayProjectDetails"
            android:label="Tabletapp">
            </activity>
        <activity android:name="company.Gui_DisplayExperimentDetails"
            android:label="Tabletapp">
            </activity>

        <activity
            android:name="company.Gui_NewKeyboardEntry"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="company.Gui_NewTableEntry"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="company.LocalService"
            android:enabled="true"
            android:exported="false"
            android:permission="">
        <intent-filter>
                <action android:name="company.LocalService">
                </action>
            </intent-filter>
        </service>



        <activity
            android:name="company.Gui_DisplayProjectAndExperiment"
            android:label="@string/app_name"
android:theme="@style/MyTheme"

       >
        </activity>
    </application>

</manifest>
